*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    background: #000;
}
.clock h2{
    position: relative;
    display: flex;
    color: #fff;
    align-items: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.4em;
     /* for neo light effect*/
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    transition: 0.5s; 
}
.clock .time{
    display: flex;
    top: 20px;
    
}
.clock .time .div{
    position: relative;
    margin:  0 50px;
    
 }
.clock .time div span{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2196f2;
    color: #fff;
    font-size: 3em;
    z-index: 10;
    box-shadow:0 0 0 1px rgba(0,0,0,0.2) ;
}
.clock .time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    z-index: 10;
    font-weight: 500;
    box-shadow: none;
    background: #127fd6;
    text-transform: uppercase;
}
.clock .time div:last-child span{
    background: #ff006f;
}
.clock .time div:last-child span:nth-child(2){
    background: #ec006e;
}
